/*
	Esto escríbanlo así... algún día les comentaré la razón hahahaha
*/
* {
    box-sizing: border-box;
}
html, body{
	height: 100%;
	width: 100%;
}


/*
	Comenzamos con el navbar :)
*/
nav{
	align-items: center;
	background-color: white;
	display: flex;
	height: 70px;
	justify-content: space-between;
	padding: 0 50px;
}
nav>img{
	height: 60%;
}
nav>ul{
	display: flex;
}
ul>li{
	margin: 0 10px;
}


/*
	Ahora, el main podríamos fijarlo de la siguiente manera :)
*/
main {
	display: flex;
	height: calc(100% - 70px);
	padding: 80px 50px;
	position: relative;
}
main>div {
	width: 40%;
}
main h1{
	margin-bottom: 15px; 
}
main p{
	margin-bottom: 25px; 
}
main>img{
	bottom: 0;
	height: 80%;
	position: absolute;
	right: 10%;
}


/*
	Ahora las secciones (en general primero)
*/
section {
	padding: 40px 15%;
	text-align: center;
}
section > div > div {
	display: flex;
}